@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);.navbar-collapse.collapse {
  background-color: grey;
}
.navbar-collapse.collapse a {
  color: white;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.top-right a {
  color: white;
}
.top-right li a {
  color: white;
}
.nav-active {
  background-color: black;
}
.navactive {
  background-color: #f0e7f2;
  color: black;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.dropdown-menu {
  background-color: #969696;
}
h1 {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 10px 0 20px 0;
}
.monoline {
  font-family: 'Cutive Mono', monospace;
}
.page {
  padding-top: 50px;
}
.testroot {
  padding-top: 50px;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
.card {
  border: 1px solid black;
  width: 17em;
}
.card-table {
  width: 100%;
}
.card-table .card-title-row {
  background-color: #1d5d8c;
  color: white;
}
.card-table .card-title-row small {
  color: white;
}
.card-table td {
  padding-left: 5px;
}
.card-table td .text-info {
  font-size: 10px;
}
.bluecoloredrow {
  background-color: #f3f3f3;
  color: black;
  padding: 5px;
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
input .floatleft {
  float: left;
}
