@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);.navbar-collapse.collapse {
  background-color: grey;
}
.navbar-collapse.collapse a {
  color: white;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.top-right a {
  color: white;
}
.top-right li a {
  color: white;
}
.front-top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
.front-top-right a {
  color: black;
}
.front-top-right li a {
  color: black;
}
.nav-active {
  background-color: black;
}
.navactive {
  background-color: #f0e7f2;
  color: black;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.dropdown-menu {
  background-color: #969696;
}
h1 {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 10px 0 20px 0;
}
.monoline {
  font-family: 'Cutive Mono', monospace;
}
#page {
  padding-top: 50px;
}
.testroot {
  padding-top: 50px;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
.card {
  border: 1px solid black;
  width: 17em;
  margin-bottom: 30px;
  height: 125px;
}
.card-table {
  width: 100%;
}
.card-table .card-title-row {
  background-color: #1d5d8c;
  color: white;
}
.card-table .card-title-row small {
  color: white;
}
.card-table td {
  padding-left: 5px;
}
.card-table td .text-info {
  font-size: 10px;
}
.card-table .racetoolsrow {
  border-top: 1px solid gray;
  background-color: #d5e5ea;
}
.card-table .racetoolsrow .racetools {
  height: 20px;
  font-size: 11px;
  padding-top: 3px;
  padding-right: 10px;
}
.card-table .racetoolsrow .racetools a {
  color: #616169;
}
.card-table .spacer {
  height: 10px;
}
.bluecoloredrow {
  background-color: #f3f3f3;
  color: black;
  padding: 5px;
  font-size: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
input .floatleft {
  float: left;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.bluerow {
  background-color: #1d5d8c;
  color: white;
  padding: 10px;
}
.lightbluerow {
  background-color: #d5e5ea;
}
.headerdatarow {
  color: #333;
}
.resulttableheader {
  background-color: #1d5d8c;
  color: white;
}
.resulttablesubheader {
  background-color: #d5e5ea;
  color: #616169;
  font-size: 12px;
}
.raceediticon {
  font-size: 11px;
  color: white;
  padding-right: 15px;
}
.raceediticon:hover {
  color: #9fc7d4;
}
.newraceform {
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.newraceform h2 {
  background-color: #1d5d8c;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}
.newraceform input[type="text"],
.newraceform input[type="date"],
.newraceform input[type="datetime"],
.newraceform input[type="email"],
.newraceform input[type="number"],
.newraceform input[type="search"],
.newraceform input[type="time"],
.newraceform input[type="url"],
.newraceform input[type="password"],
.newraceform textarea,
.newraceform select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}
.newraceform textarea {
  resize: none;
  overflow: hidden;
}
.newraceform ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.newraceform li {
  display: block;
  padding: 9px;
  border: 1px solid #DDDDDD;
  margin-bottom: 30px;
  border-radius: 3px;
}
.newraceform li > span {
  background-color: #d5e5ea;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.newraceform li > span.notdone {
  background-color: #ead5d5;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.newraceform input[type="button"],
.newraceform input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  padding: 8px 18px;
  margin-left: 289px;
  text-decoration: none;
  text-transform: uppercase;
}
