.navbar-collapse.collapse {
	background-color: grey;
	a {
		color: white;
	}
}
.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
	a {
		color: white;
	}
	li {
		a {
			color: white;
		}

	}
}

.nav-active {
	background-color: black;
}

.navactive {
	background-color: #f0e7f2;
	color: black;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}


// .nav > li > a:focus, .nav > li > a:hover {
// 	background-color: #fc8235;
// }

.dropdown-menu {
	background-color: #969696;
}
